body{
    margin-left: 50px;
    padding: 30px;
    background: #f5f5f5;
}



.horizontal {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: start;
    padding-top: 30px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: #333;
    font-family: "Arial Nova";
    justify-content: center;
}

.p{
    font-family: "Arial Nova";
    font-size: 20px;
}

.text-output{
    border-color: black;
    background: white;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: start;
    padding-top: 30px;
}

.text-output-p{
    font-family: "Arial Nova";
    font-size: 15px;
}

.region{
    font-family: "Arial Nova";
    font-size: 20px;
    color: #333;
}